html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.group:after {
  content: '';
  display: table;
  clear: both;
}

body {
  background-color: #e5e5e5;
}

header {
  width: 100%;
  font-size: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header .firstNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: rgba(76, 117, 137, 0.25);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 1em;
  width: 100%;
  font-size: 0.7em;
}

header .firstNav li {
  margin: 0 0.5em;
  list-style-type: none;
}

header .firstNav li a {
  text-decoration: none;
  font-size: 1.2em;
  font-family: Helvetica Neue;
  color: #0f3b55;
}

header .firstNav li:last-child {
  font-size: 1.2em;
  margin: 0 15% 0 0;
}

header .firstNav li:last-child a {
  font-size: 1em;
}

header .secondNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 4px 15px rgba(77, 77, 77, 0.15);
          box-shadow: 0px 4px 15px rgba(77, 77, 77, 0.15);
  margin: 0 auto;
  padding: 0.7em;
  width: 100%;
  height: 4.2em;
}

header .secondNav img {
  width: 9, 71975em;
  height: auto;
  left: 10%;
  position: absolute;
}

header .secondNav a {
  color: #73be45;
  text-decoration: none;
  margin-right: 0.5em;
}

header .secondNav li {
  margin: 0 1em;
  list-style-type: none;
}

header .secondNav li a {
  text-decoration: none;
  color: #0f3b55;
  font-size: 100%;
  margin-right: 0;
  font-family: Helvetica Neue;
}

header .secondNav button {
  background-color: #73be45;
  border-radius: 0.5em;
  border: none;
  right: 16%;
  position: absolute;
  padding: 0.7em 1em;
}

header .secondNav button a {
  color: white;
  margin: 0;
}

.mainButton {
  background-color: #73be45;
  border-radius: 0.5em;
  border: none;
  right: 16%;
  padding: 0.7em 1em;
}

.mainButton a {
  color: white;
  margin: 0;
  text-decoration: none;
}

main {
  background-color: rgba(76, 117, 137, 0.25);
  width: 100%;
}

.mainPart {
  max-width: 100%;
  height: 500px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3em 0;
}

.firstMainPart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 30%;
}

.firstMainPart .mainText {
  font-size: 3em;
  font-family: Helvetica Neue;
  font-weight: 500;
  margin: 0 0 0.2em 0;
  width: 70%;
  color: rgba(15, 59, 85, 0.8);
}

.firstMainPart .mainText span {
  -webkit-text-decoration: underline dashed;
          text-decoration: underline dashed;
  color: rgba(4, 27, 39, 0.863);
}

.firstMainPart .mainText svg {
  width: 1em;
  height: auto;
  vertical-align: middle;
}

.firstMainPart .secondaryText {
  font-size: 1em;
  font-family: Helvetica Neue;
  font-weight: 400;
  margin: 0 15em 0.6em 0;
  width: 100%;
  color: #4c7589;
}

.secondMainPart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  border-radius: 1em;
  -webkit-box-shadow: 0px 4px 15px rgba(77, 77, 77, 0.15);
          box-shadow: 0px 4px 15px rgba(77, 77, 77, 0.15);
  height: 60%;
  width: 70%;
  margin: 0 auto 0 0;
}

.secondMainPart i {
  color: #73be45;
  font-weight: 100;
  margin-bottom: 0.5em;
  font-size: 2em;
}

.secondMainPart p {
  color: #73be45;
  margin-top: 0;
  width: 45%;
  text-align: center;
}
/*# sourceMappingURL=index.css.map */