html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.group:after {
  content: '';
  display: table;
  clear: both;
}

header {
  width: 100%;
  font-size: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header .firstNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: rgba(76, 117, 137, 0.25);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 1em;
  width: 100%;
  font-size: 0.7em;
}

header .firstNav li {
  margin: 0 0.5em;
  list-style-type: none;
}

header .firstNav li a {
  text-decoration: none;
  font-size: 1.2em;
  font-family: Helvetica Neue;
  color: #0f3b55;
}

header .firstNav li:last-child {
  font-size: 1.2em;
  margin: 0 15% 0 0;
}

header .firstNav li:last-child a {
  font-size: 1em;
}

header .secondNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 4px 15px rgba(77, 77, 77, 0.15);
          box-shadow: 0px 4px 15px rgba(77, 77, 77, 0.15);
  margin: 0 auto;
  padding: 0.7em;
  width: 100%;
  height: 4.2em;
}

header .secondNav img {
  width: 9, 71975em;
  height: auto;
  left: 15%;
  position: absolute;
}

header .secondNav a {
  color: #73be45;
  text-decoration: none;
  margin-right: 0.5em;
}

header .secondNav li {
  margin: 0 1em;
  list-style-type: none;
}

header .secondNav li a {
  text-decoration: none;
  color: #0f3b55;
  font-size: 100%;
  margin-right: 0;
  font-family: Helvetica Neue;
}

header .secondNav button {
  background-color: #73be45;
  border-radius: 0.5em;
  border: none;
  right: 16%;
  position: absolute;
  padding: 0.7em 1em;
}

header .secondNav button a {
  color: white;
  margin: 0;
}

.mainButton {
  background-color: #73be45;
  border-radius: 0.5em;
  border: none;
  right: 16%;
  padding: 0.7em 1em;
}

.mainButton a {
  color: white;
  margin: 0;
  text-decoration: none;
}

main {
  background-color: rgba(76, 117, 137, 0.25);
  width: 100%;
}

.mainPartOne {
  max-width: 100%;
  height: 500px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3em 0;
}

.firstMainPart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 30%;
}

.firstMainPart .mainText {
  font-size: 3em;
  font-family: Helvetica Neue;
  font-weight: 500;
  margin: 0 0 0.2em 0;
  width: 70%;
  color: rgba(15, 59, 85, 0.8);
}

.firstMainPart .mainText span {
  -webkit-text-decoration: underline dashed;
          text-decoration: underline dashed;
  color: rgba(4, 27, 39, 0.863);
  font-family: Helvetica Neue;
}

.firstMainPart .mainText svg {
  width: 1em;
  height: auto;
  vertical-align: middle;
}

.firstMainPart .secondaryText {
  font-size: 1em;
  font-family: Helvetica Neue;
  font-weight: 400;
  margin: 0 15em 0.6em 0;
  width: 100%;
  color: #4c7589;
}

.secondMainPart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  border-radius: 1em;
  -webkit-box-shadow: 0px 4px 15px rgba(77, 77, 77, 0.15);
          box-shadow: 0px 4px 15px rgba(77, 77, 77, 0.15);
  height: 15.1em;
  width: 30.5em;
  margin: 0 auto 0 1.5em;
}

.secondMainPart i {
  color: #73be45;
  font-weight: 100;
  margin-bottom: 0.5em;
  font-size: 2em;
}

.secondMainPart p {
  color: #73be45;
  margin-top: 0;
  width: 45%;
  text-align: center;
  font-family: Helvetica Neue;
}

.mainPartTwo {
  width: 100%;
  height: 12.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0f3b55;
}

.partTwoContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  vertical-align: top;
  height: 30%;
}

.partTwoContent:nth-child(2) {
  width: 27%;
}

.partTwoContent i {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 2em;
  font-weight: 100;
  color: white;
}

.partTwoContent p {
  font-size: 1em;
  color: white;
  margin: 0 0 0 0.5em;
  width: 50%;
  height: 100%;
  text-align: start;
  font-family: Helvetica Neue;
}

.mainPartThree {
  width: 100%;
  background-color: white;
  height: auto;
  padding: 0em;
}

.mainPartThree h1 {
  text-align: center;
  margin: 0;
  padding-top: 2.5em;
  font-family: Helvetica Neue;
}

.partThreeContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  margin: 5em auto 5em auto;
}

.partThreeContent:last-child {
  margin-bottom: 0;
  padding-bottom: 12em;
}

.partThreeContent svg {
  width: 20em;
  height: auto;
  margin-right: 5em;
}

.partThreeContent .partThreeText h2 {
  font-size: 2em;
  margin: 0;
  color: #73be45;
  font-family: Helvetica Neue;
}

.partThreeContent .partThreeText p {
  font-size: 1.1em;
  font-family: Helvetica Neue;
}

.newsLetterLayout {
  bottom: -101%;
  width: 48.5em;
  height: 10.6em;
  padding: 0em 1em;
  background-color: #0f5d98;
  border-radius: 0.7em;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.newsLetterLeftSide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 40%;
}

.newsLetterLeftSide svg {
  height: auto;
  width: 7em;
  background-color: white;
  padding: 1em;
  margin: 0 1em 0 0;
  border-radius: 0.7em;
}

.newsLetterLeftSide h1 {
  color: white;
  margin: 0;
  font-size: 1.2em;
  width: 55%;
  font-family: Helvetica Neue;
}

.newsLetterDivider {
  height: 75%;
  margin: auto 1em;
}

.newsLetterRightSide {
  width: 60%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.newsLetterInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.newsLetterInput input {
  width: 100%;
  height: 4em;
  border-radius: 0.7em;
  border: 0;
  outline-style: none;
}

.newsLetterCheckBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  vertical-align: middle;
  margin-top: 0.5em;
}

.newsLetterCheckBox input {
  margin: 0 0.5em 0 0;
}

.checkBoxText {
  margin: 0;
  color: white;
  font-size: 0.75em;
  width: 100%;
}

.checkBoxText a {
  color: white;
}

.inputButton {
  background-color: #73be45;
  border-radius: 0.5em;
  border: none;
  padding: 1.15em;
  width: 8em;
  position: absolute;
  right: 1.5em;
}

.inputButton a {
  text-decoration: none;
  color: white;
}

.mainPartFour {
  width: 100%;
  height: auto;
  background-color: #e5e5e5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mainFeatures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50em;
  padding: 9em 9em 0 9em;
  background-color: transparent;
}

.mainFeaturesHeader {
  color: #0f3b55;
  margin: 0;
  font-size: 2em;
}

.mainFeaturesLeftSide {
  width: 100%;
}

.mainFeaturesLeftSide li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3em;
}

.mainFeaturesLeftSide li:nth-child(2) {
  color: #73be45;
}

.mainFeaturesLeftSide li:nth-child(2) h2 {
  font-family: Helvetica Neue;
  color: #73be45;
}

.mainFeaturesLeftSide li h2 {
  font-family: Helvetica Neue;
  color: #4c7589;
  margin-left: 0.5em;
  font-size: 1.5em;
}

.mainFeaturesRightSide {
  width: 100%;
}

.mainFeaturesRightSideLayout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: white;
  -webkit-box-shadow: 0px 4px 15px rgba(77, 77, 77, 0.15);
          box-shadow: 0px 4px 15px rgba(77, 77, 77, 0.15);
  width: 80%;
  height: 14em;
  border-radius: 0.5em;
  margin: 0 auto;
  padding: 1em 1.5em;
}

.mainFeaturesRightSideLayout h1 {
  margin: 0.3em 0 0 0;
  color: #73be45;
  font-family: Helvetica Neue;
}

.mainFeaturesRightSideLayout p {
  margin: 0;
  color: #4c7589;
  font-family: Helvetica Neue;
}

.mainFeaturesRightSideButtonLayout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.mainFeaturesRightSideButtonLayout i {
  color: white;
}

.mainFeaturesRightSideButtonLayout i:first-child {
  margin-right: 0.5em;
}

.mainFeaturesRightSideButtonLayout i:last-child {
  margin-left: 0.5em;
}

.mainPartFive {
  width: 100%;
  height: 800px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 3em 0;
}

.mainPartFive .mainPartFiveHeader {
  margin: 0;
  padding: 1em 0;
  color: #0f3b55;
  font-family: Helvetica Neue;
  width: 100%;
  text-align: center;
}

.planOptions {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.planVersionOne {
  border: 2px solid #0f5d98;
  width: 18em;
  padding: 0 1em;
  margin: 0 0.5em;
  height: 34em;
  background-color: white;
  border-radius: 0.5em;
}

.planVersionOne:nth-child(n + 2) .planOptionButton {
  margin: 2em 0 1em 0;
}

.planVersionOne .red-color {
  color: red;
}

.planVersionOne h1 {
  color: #0f5d98;
  font-size: 2em;
  margin: 0.5em 0;
  font-family: Helvetica Neue;
}

.planVersionOne h2 {
  color: #4c7589;
  font-size: 1.4em;
  font-family: Helvetica Neue;
}

.planVersionOne h3 {
  color: #0f3b55;
  font-family: Helvetica Neue;
}

.planVersionOne h3 span {
  color: #0f5d98;
  font-size: 3em;
  font-family: Helvetica Neue;
}

.planVersionOne li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1em 0;
  color: #73be45;
}

.planVersionOne li p {
  color: #0f3b55;
  margin: 0 0 0 0.5em;
  font-family: Helvetica Neue;
}

.planOptionButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 4em 0 1em 0;
}

.planOptionButton button {
  background-color: #73be45;
  border-radius: 0.5em;
  border: none;
  padding: 1em 2em;
}

.planOptionButton button a {
  color: white;
  margin: 0;
  text-decoration: none;
}

.planVersionTwo {
  border: 2px solid #0f5d98;
  width: 19em;
  height: 36em;
  padding: 0 1em;
  margin: 0 0.5em;
  background: #0f5d98;
  border-radius: 0.5em;
  -webkit-box-shadow: -15px 25px 40px rgba(16, 59, 85, 0.18);
          box-shadow: -15px 25px 40px rgba(16, 59, 85, 0.18);
}

.planVersionTwo h1 {
  font-size: 2em;
  margin: 1em 0 0.5em 0;
  color: white;
  font-family: Helvetica Neue;
}

.planVersionTwo h2 {
  font-size: 1.4em;
  color: white;
  font-family: Helvetica Neue;
}

.planVersionTwo h3 {
  color: white;
  font-family: Helvetica Neue;
}

.planVersionTwo h3 span {
  color: white;
  font-family: Helvetica Neue;
  font-size: 3em;
}

.planVersionTwo li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1em 0;
  color: #73be45;
}

.planVersionTwo li p {
  margin: 0 0 0 0.5em;
  color: white;
  font-family: Helvetica Neue;
}

.planVersionTwo .planOptionButton {
  margin: 3.5em 0 1em 0;
}

.mainPartSix {
  width: 100%;
  height: 22em;
  background: wheat;
}

.RequestFormDemo {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.RequestFormDemoLeftSide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background: rgba(76, 117, 137, 0.25);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 3em 0 0 5em;
}

.RequestFormLeftSideContent h1 {
  margin: 1em 0 0.2em 0;
  color: #0f5d98;
  font-family: Helvetica Neue;
}

.RequestFormLeftSideContent h2 {
  margin: 0 0 0.2em 0;
  color: #0f5d98;
  font-family: Helvetica Neue;
}

.RequestFormLeftSideContent a {
  color: #0f5d98;
}

.RequestFormDemoRightSide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: rgba(76, 117, 137, 0.25);
  padding: 3em 0 0 0;
  width: 100%;
}

.RequestFormDemoRightSideFirstLayer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  width: 70%;
  height: 3.125em;
  margin-bottom: 0.5em;
  border-radius: 0.5em;
  border: 1px solid #869bab;
}

.RequestFormDemoRightSideFirstLayer p {
  margin: 1em;
  font-family: Helvetica Neue;
}

.RequestFormDemoRightSideFirstLayer .RequestFormDemoRightSideFirstLayerButtonOne {
  background: #0f5d98;
  border: 1px solid rgba(15, 93, 152, 0.15);
}

.RequestFormDemoRightSideFirstLayer .RequestFormDemoRightSideFirstLayerButtonOne a {
  color: white;
  text-decoration: none;
}

.RequestFormDemoRightSideFirstLayer button {
  margin-right: 0.5em;
  border-radius: 0.5em;
  margin: 0.3em 0.5em 0.3em 0;
  background: white;
  border: 1px solid rgba(15, 93, 152, 0.15);
}

.RequestFormDemoRightSideFirstLayer a {
  text-decoration: none;
  color: #0f5d98;
}

.RequestFormDemoRightSideSecondLayer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  height: 3.75em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.RequestFormDemoRightSideSecondLayerInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 49%;
  height: 3.75em;
  padding: 0.3em;
  outline: none;
  border-radius: 0.5em;
  border: 1px solid #869bab;
}

.RequestFormDemoRightSideSecondLayerInput p {
  margin-right: 1em;
}

.RequestFormDemoRightSideThirdLayerInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  height: 3.75em;
  outline: none;
  border-radius: 0.5em;
  border: 1px solid #869bab;
}

.RequestFormDemoRightSideForthLayer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  height: 2.5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.RequestFormDemoRightSideForthLayer p {
  margin: 0;
  font-family: Helvetica Neue;
}

.RequestFormDemoRightSideForthLayer a {
  color: #4c7589;
}

.RequestFormDemoRightSideFifthLayer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  height: 3em;
}

.requestFormButton {
  background-color: #0f5d98;
  border-radius: 0.5em;
  border: none;
  padding: 0.7em 1em;
}

.requestFormButton a {
  color: white;
  margin: 0;
  text-decoration: none;
}

.mainPartSeven {
  width: 100%;
  height: 250px;
  background-color: white;
  padding: 2em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainPartSevenLeftSide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 25%;
}

.mainPartSevenLeftSide img {
  height: auto;
  width: 12em;
}

.mainPartSevenRightSide .newsLetterRightSide .newsLetterInput {
  border: 1px solid #869bab;
  border-radius: 0.5em;
}

.mainPartSevenRightSide .newsLetterRightSide h1 {
  font-family: Helvetica Neue;
  margin: 0 0 0.5em 0;
  font-size: 1em;
  color: #0f3b55;
}

.mainPartSevenRightSide .inputButton {
  right: 22%;
}

.mainPartSevenRightSide .checkBoxText {
  font-size: 0.8em;
  color: #4c7589;
}

.mainPartSevenRightSide .checkBoxText a {
  color: #4c7589;
}

.mainPartEight {
  width: 90%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5em;
  margin: 0 auto;
  background: white;
  border: 0.15em dashed rgba(15, 93, 152, 0.15);
  border-left: 0;
  border-right: 0;
}

.mainPartEight a {
  color: #0f5d98;
}

.mainPartNine {
  background: white;
  color: #979797;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em 11%;
}

.mainPartNineLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainPartNineLinks a {
  color: #979797;
  margin-right: 1em;
}
/*# sourceMappingURL=index.css.map */